In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.preprocessing as preprocessing
from sklearn.model_selection import train_test_split
import keras as ks

In [2]:
df = pd.read_csv('data/02 Household Power Consumption.txt',sep=";")
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185711 entries, 0 to 185710
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Date                   185711 non-null  object
 1   Time                   185711 non-null  object
 2   Global_active_power    185711 non-null  object
 3   Global_reactive_power  185711 non-null  object
 4   Voltage                185711 non-null  object
 5   Global_intensity       185711 non-null  object
 6   Sub_metering_1         185711 non-null  object
 7   Sub_metering_2         185711 non-null  object
 8   Sub_metering_3         185702 non-null  float64
dtypes: float64(1), object(8)
memory usage: 12.8+ MB

In [4]:
df.isnull().sum()   # Count the number of null values

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           9
dtype: int64

In [5]:
df.isnull().any(axis = 1).sum()

9